examples/01 - Simple launch + monitor.json
[
  {
    "id": "9a261a33699b53ab",
    "type": "tab",
    "label": "Simple launch + monitor",
    "disabled": false,
    "info": "# Simple launch + monitor workflow\n\nThis example shows the _'Launch workflow'_ and _'Monitor workflow'_ nodes.\n\nThe workflow nodes are pre-configured with some example configuration,\nbut you'll need to update this yourself to run the flow.\n\nTo get started:\n\n1. Double click the _\"Launch workflow\"_ node to open the configuration.\n2. Configure the Seqera Platform connection with your API token\n3. Check & set the launchpad name and parameters\n4. Set the configuration set for the _\"Monitor workflow\"_\n5. Click \"Deploy\" in Node-RED, top right.\n\nIf everything is set up properly, you can launch the workflow and monitor its execution\nby clicking the Inject node's tab on the left and following the _debug_ output in the\nright hand sidebar.",
    "env": []
  },
  {
    "id": "9ab4ad41eae68d3b",
    "type": "debug",
    "z": "9a261a33699b53ab",
    "name": "Finished",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 160,
    "wires": []
  },
  {
    "id": "23550d706a87d71f",
    "type": "inject",
    "z": "9a261a33699b53ab",
    "name": "Launch trigger",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 140,
    "y": 140,
    "wires": [["e1785486e2602d00"]]
  },
  {
    "id": "24d992db88920453",
    "type": "debug",
    "z": "9a261a33699b53ab",
    "name": "Running Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 120,
    "wires": []
  },
  {
    "id": "9c6ff7413fb24c37",
    "type": "comment",
    "z": "9a261a33699b53ab",
    "name": "Triggering a launch",
    "info": "This is an example node that you can simply\nclick on to trigger a workflow launch.\n\nYou can replace this with an automated trigger\nof your choice: a file being uploaded to AWS,\na Slack message, a time of day, a particular\nweather forecast - whatever you can think of!",
    "x": 150,
    "y": 200,
    "wires": []
  },
  {
    "id": "382189f388ff0e93",
    "type": "comment",
    "z": "9a261a33699b53ab",
    "name": "Launch",
    "info": "This node launches a workflow on Seqera Platform.\nOnce launched, the node returns the response\nfrom Platform.\n\nFor convenience, it can take the name of a pipeline\nin your Seqera Platform Launchpad.\nIt fetches the pipeline details and uses this for launch.\nIf you prefer, you can also provide all of the workflow\ndetails to the node directly instead of fetching from\nthe launchpad.",
    "x": 350,
    "y": 200,
    "wires": []
  },
  {
    "id": "0f22c989b8395e42",
    "type": "comment",
    "z": "9a261a33699b53ab",
    "name": "Check",
    "info": "This node checks a workflow status on Seqera Platform.\n\nThere are three outputs - the first always emits the status.\nThe second emits if the workflow was successfuly and the third\nemits if the workflow failed or was cancelled.\n\n## Repeated checks\n\nBy default, this node keeps checking the workflow status\nevery 15 seconds (configurable) whilst it is in any\nof the following states: Pending, Submitted, Running.\n\nIf your flow logic only needs it to check once, this\npolling behaviour can be disabled.",
    "x": 550,
    "y": 200,
    "wires": []
  },
  {
    "id": "e1785486e2602d00",
    "type": "seqera-workflow-launch",
    "z": "9a261a33699b53ab",
    "name": "",
    "seqera": "",
    "launchpadName": "nf-core-fetchngs",
    "launchpadNameType": "str",
    "paramsKey": "{\"outdir\":\"./results\",\"nf_core_pipeline\":\"rnaseq\"}",
    "paramsKeyType": "json",
    "workspaceId": "",
    "workspaceIdType": "str",
    "sourceWorkspaceId": "",
    "sourceWorkspaceIdType": "str",
    "x": 350,
    "y": 140,
    "wires": [["bf8ce3b4cfd00166"]]
  },
  {
    "id": "bf8ce3b4cfd00166",
    "type": "seqera-workflow-monitor",
    "z": "9a261a33699b53ab",
    "name": "",
    "seqera": "",
    "workflowId": "workflowId",
    "workflowIdType": "msg",
    "workspaceId": "",
    "workspaceIdType": "str",
    "keepPolling": true,
    "poll": "15",
    "pollUnits": "seconds",
    "x": 570,
    "y": 140,
    "wires": [["24d992db88920453"], ["9ab4ad41eae68d3b"], ["9ab4ad41eae68d3b"]]
  },
  {
    "id": "cc8e3928615fb460",
    "type": "comment",
    "z": "9a261a33699b53ab",
    "name": "Outputs",
    "info": "For this example, the outputs from the workflow\nstatus checks are passed to Node-RED _Debug_ nodes.\n\nThese print the payloads that they receive to the\n\"Debug\" pane in the right hand sidebar.\nThis is useful to understand the outputs whilst building new flows.\n\nFor your Node-RED flows you'll probably want to replace these\nwith some other nodes that _do_ something.",
    "x": 770,
    "y": 200,
    "wires": []
  }
]
