examples/05 - Auto-resume on workflow failure.json
[
  {
    "id": "resume_example_tab",
    "type": "tab",
    "label": "Auto-resume on workflow failure",
    "disabled": false,
    "info": "# Auto-resume on workflow failure\n\nThis example demonstrates how to automatically resume a failed workflow using a **loop pattern**. When a workflow fails, the sessionId is extracted and fed back to the same launch node to automatically retry with resume enabled.\n\n## How it works (Loop Pattern)\n\n1. **Trigger** - Click inject to start (or use any trigger)\n2. **Launch** - Launches workflow (reads sessionId from msg.sessionId if present)\n3. **Monitor** - Monitors workflow status with three outputs\n4. **On Success** - Flow completes (output 2)\n5. **On Failure** - Extract sessionId and loop back to Launch node (output 3 → function → back to Launch)\n\n## Key Features\n\n- **Single Launch Node**: The same node handles both initial launch and resume\n- **Automatic Loop**: Failed workflows automatically retry with resume enabled\n- **sessionId from msg**: The launch node reads sessionId from msg.sessionId (first run = empty, retry = populated)\n- **resume from msg**: The launch node reads resume flag from msg.resume\n\n## Setup Instructions\n\n1. Double click the **\"Launch workflow\"** node:\n   - Configure Seqera Platform credentials\n   - Set launchpad name\n   - **Important**: sessionId is set to read from \"msg.sessionId\" (type: msg)\n   - **Important**: resume is set to read from \"msg.resume\" (type: msg)\n\n2. Configure the **\"Monitor workflow\"** node with same Seqera config\n\n3. Click **\"Deploy\"** in Node-RED (top right)\n\n4. Click the **Inject** node to start\n\n## Important Notes\n\n- The resumed workflow must use the same work directory as the original\n- Your compute environment must have access to the cached results\n- The loop will continue until success or you can add retry limits\n- Each retry uses Nextflow's `-resume` to skip completed tasks",
    "env": []
  },
  {
    "id": "inject_trigger",
    "type": "inject",
    "z": "resume_example_tab",
    "name": "Trigger workflow",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 140,
    "y": 160,
    "wires": [["launch_node"]]
  },
  {
    "id": "launch_node",
    "type": "seqera-workflow-launch",
    "z": "resume_example_tab",
    "name": "Launch workflow",
    "seqera": "",
    "launchpadName": "nf-core-rnaseq",
    "launchpadNameType": "str",
    "paramsKey": "{\"outdir\":\"./results\"}",
    "paramsKeyType": "json",
    "workspaceId": "",
    "workspaceIdType": "str",
    "sourceWorkspaceId": "",
    "sourceWorkspaceIdType": "str",
    "x": 340,
    "y": 160,
    "wires": [["monitor_node"]]
  },
  {
    "id": "monitor_node",
    "type": "seqera-workflow-monitor",
    "z": "resume_example_tab",
    "name": "Monitor workflow",
    "seqera": "",
    "workflowId": "workflowId",
    "workflowIdType": "msg",
    "workspaceId": "",
    "workspaceIdType": "str",
    "keepPolling": true,
    "poll": "15",
    "pollUnits": "seconds",
    "x": 560,
    "y": 160,
    "wires": [["debug_running"], ["debug_success"], ["extract_and_loop"]]
  },
  {
    "id": "extract_and_loop",
    "type": "function",
    "z": "resume_example_tab",
    "name": "Extract sessionId & loop back",
    "func": "// Extract the sessionId from the failed workflow\nconst sessionId = msg.payload?.workflow?.sessionId;\n\nif (!sessionId) {\n    node.error(\"No sessionId found in workflow payload\", msg);\n    return null;\n}\n\nnode.warn(`Workflow failed! Resuming with sessionId: ${sessionId}`);\n\n// Set the sessionId and resume flag for the launch node\nmsg.sessionId = sessionId;\nmsg.resume = true;\n\n// Optional: Add retry counter to prevent infinite loops\nif (!msg.retryCount) {\n    msg.retryCount = 0;\n}\nmsg.retryCount += 1;\n\nif (msg.retryCount > 3) {\n    node.error(`Max retries (3) reached. Workflow failed after ${msg.retryCount} attempts.`, msg);\n    return null;\n}\n\nnode.warn(`Retry attempt ${msg.retryCount} of 3`);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 260,
    "wires": [["launch_node"]]
  },
  {
    "id": "debug_running",
    "type": "debug",
    "z": "resume_example_tab",
    "name": "Running status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.workflow.status",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 120,
    "wires": []
  },
  {
    "id": "debug_success",
    "type": "debug",
    "z": "resume_example_tab",
    "name": "✓ Success!",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 160,
    "wires": []
  },
  {
    "id": "comment_trigger",
    "type": "comment",
    "z": "resume_example_tab",
    "name": "1. Trigger",
    "info": "Click this inject node to start the workflow.\n\nIn a real automation, you might trigger this\nfrom a file upload, scheduled time, or other event.\n\nThe initial message has no sessionId or resume flag,\nso the launch node will start fresh.",
    "x": 140,
    "y": 100,
    "wires": []
  },
  {
    "id": "comment_launch",
    "type": "comment",
    "z": "resume_example_tab",
    "name": "2. Launch (with loop)",
    "info": "This node handles BOTH initial launch AND resume.\n\n**Configuration:**\n- sessionId: msg.sessionId (type: msg)\n- resume: msg.resume (type: msg)\n\n**First run:** msg.sessionId is undefined → launches fresh\n**Loop back:** msg.sessionId is populated → resumes from failure\n\nThe same node works for both cases!",
    "x": 360,
    "y": 100,
    "wires": []
  },
  {
    "id": "comment_monitor",
    "type": "comment",
    "z": "resume_example_tab",
    "name": "3. Monitor",
    "info": "Monitors the workflow status.\n\n**Three outputs:**\n1. Running status (every poll)\n2. Success (workflow completed) → Flow ends here\n3. Failed (workflow errored) → Triggers resume loop\n\nOutput 3 connects back to the launch node via\nthe extract function, creating the loop.",
    "x": 560,
    "y": 100,
    "wires": []
  },
  {
    "id": "comment_extract",
    "type": "comment",
    "z": "resume_example_tab",
    "name": "4. Extract & Loop",
    "info": "When the workflow fails, this function:\n\n1. Extracts sessionId from msg.payload.workflow.sessionId\n2. Sets msg.sessionId for the launch node\n3. Sets msg.resume = true to enable Nextflow resume\n4. Tracks retry count (max 3 attempts)\n5. Loops back to the Launch node\n\nThe Launch node reads these msg properties and\nautomatically resumes the failed workflow.\n\n**Retry Logic:**\nPrevents infinite loops by limiting to 3 retry attempts.\nYou can adjust this or remove it as needed.",
    "x": 360,
    "y": 320,
    "wires": []
  },
  {
    "id": "comment_outputs",
    "type": "comment",
    "z": "resume_example_tab",
    "name": "Outputs",
    "info": "**Running status** - Shows workflow status on each poll\n**Success** - Final successful completion\n\nThe loop continues until:\n- Workflow succeeds (output 2)\n- Max retries reached (3 attempts)\n- Manual intervention stops the flow",
    "x": 780,
    "y": 200,
    "wires": []
  },
  {
    "id": "link_loop",
    "type": "comment",
    "z": "resume_example_tab",
    "name": "← Loop back on failure",
    "info": "This connection creates the resume loop.\n\nWhen a workflow fails:\nMonitor (output 3) → Extract sessionId → Loop back to Launch\n\nThe Launch node automatically handles resume\nbecause it reads sessionId and resume from msg.",
    "x": 140,
    "y": 320,
    "wires": []
  },
  {
    "id": "b5c73ea48912939a",
    "type": "global-config",
    "env": [],
    "modules": {
      "@seqera/node-red-seqera": "1.0.1"
    }
  }
]
