examples/create_launch_monitor.json
[
  {
    "id": "5ddebd1124f2b1c0",
    "type": "tab",
    "label": "Create dataset, launch + monitor",
    "disabled": false,
    "info": "# Create dataset, launch + monitor\n\nThis example demonstrates a typical workflow to create a new dataset in Seqera Platform, then use it to launch and monitor a workflow. These nodes could typically be combined with 3rd party integrations.\n\n1. Configure the Seqera Platform connection with your API token\n2. Edit the example node parameters\n3. Launch the workflow and monitor its execution",
    "env": []
  },
  {
    "id": "841b1de7f2520e91",
    "type": "seqera-launch-monitor",
    "z": "5ddebd1124f2b1c0",
    "name": "nf-core/fetchngs",
    "seqera": "",
    "poll": "5",
    "pollType": "num",
    "launchpadName": "nf-core-fetchngs2",
    "launchpadNameType": "str",
    "paramsKey": "{\t   \"outdir\":\"s3://nf-core-awsmegatests/node-red-tests/\" & $flowContext(\"myRunName\") & \"/fetchngs/results\",\t   \"nf_core_pipeline\":\"rnaseq\",\t   \"input\": payload.version.url\t}",
    "paramsKeyType": "jsonata",
    "workspaceId": "",
    "workspaceIdType": "str",
    "sourceWorkspaceId": "",
    "sourceWorkspaceIdType": "str",
    "x": 230,
    "y": 380,
    "wires": [[], ["5208d2bb907ddbf3"], ["23ee14a8fa7d2bc5"]]
  },
  {
    "id": "af2c2073b4781f2c",
    "type": "inject",
    "z": "5ddebd1124f2b1c0",
    "name": "Trigger launch",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 300,
    "wires": [["f1a41db5a7ed8618"]]
  },
  {
    "id": "f1a41db5a7ed8618",
    "type": "seqera-dataset-create",
    "z": "5ddebd1124f2b1c0",
    "name": "",
    "seqera": "",
    "datasetName": "myRunName",
    "datasetNameType": "flow",
    "fileContents": "\"SRR3192657\\nSRR3192658\\nSRR3192408\\nSRR3192409\"",
    "fileContentsType": "json",
    "workspaceId": "",
    "workspaceIdType": "str",
    "description": "A test dataset containing some SRA ids for fetchngs to download",
    "descriptionType": "str",
    "fileType": "csv",
    "x": 300,
    "y": 300,
    "wires": [["841b1de7f2520e91"]]
  },
  {
    "id": "5208d2bb907ddbf3",
    "type": "seqera-launch-monitor",
    "z": "5ddebd1124f2b1c0",
    "name": "nf-core/rnaseq",
    "seqera": "",
    "poll": "5",
    "pollType": "num",
    "launchpadName": " nf-core-rnaseq",
    "launchpadNameType": "str",
    "paramsKey": "{\t    \"input\": \"s3://nf-core-awsmegatests/node-red-tests/\" & $flowContext(\"myRunName\") & \"/fetchngs/results/samplesheet/samplesheet.csv\",\t    \"outdir\": \"s3://nf-core-awsmegatests/node-red-tests/\" & $flowContext(\"myRunName\") & \"/rnaseq/results\",\t    \"genome\": \"GRCh37\",\t    \"skip_alignment\": true\t}",
    "paramsKeyType": "jsonata",
    "workspaceId": "",
    "workspaceIdType": "str",
    "sourceWorkspaceId": "",
    "sourceWorkspaceIdType": "str",
    "x": 440,
    "y": 380,
    "wires": [[], ["db48fac27ee50dbf"], ["13e5309682b3f6e2"]]
  },
  {
    "id": "77c70ff42938bde1",
    "type": "change",
    "z": "5ddebd1124f2b1c0",
    "name": "Set flow.myRunName",
    "rules": [
      {
        "t": "set",
        "p": "myRunName",
        "pt": "flow",
        "to": "test-2025-05-07-v2",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "388cfb48567a7421",
    "type": "inject",
    "z": "5ddebd1124f2b1c0",
    "name": "Trigger: Set dataset name",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 160,
    "wires": [["77c70ff42938bde1"]]
  },
  {
    "id": "13e5309682b3f6e2",
    "type": "debug",
    "z": "5ddebd1124f2b1c0",
    "name": "Workflow 2 - Fail",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 400,
    "wires": []
  },
  {
    "id": "db48fac27ee50dbf",
    "type": "debug",
    "z": "5ddebd1124f2b1c0",
    "name": "Workflow 2 - Success",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 360,
    "wires": []
  },
  {
    "id": "23ee14a8fa7d2bc5",
    "type": "debug",
    "z": "5ddebd1124f2b1c0",
    "name": "Workflow 1 - Fail",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 470,
    "y": 460,
    "wires": []
  },
  {
    "id": "e2ad316cb81a7c7e",
    "type": "comment",
    "z": "5ddebd1124f2b1c0",
    "name": "Run name",
    "info": "Each pipeline run on Seqera Platform ideally\nneeds a unique name to identify it.\n\nIn this workflow, we assign a run name to a\nNode-RED `flow` variable so that we can easily\nreuse it in multiple input locations.\n\nThis node simply sets that variable to a\nfixed string, which you can edit.\nClick the trigger to set.\n\nIn reality you would likely set this variable\ndynamically, according to your automation inputs.",
    "x": 420,
    "y": 120,
    "wires": []
  },
  {
    "id": "764c19dff8978702",
    "type": "comment",
    "z": "5ddebd1124f2b1c0",
    "name": "Datasets",
    "info": "Seqera Platform has something called\n[Datsets](https://docs.seqera.io/platform-cloud/data/datasets)\nwhich can be used to store metadata needed to launch\na pipeline.\n\nThis node takes an input with title, description and file\ncontent as a string (eg. a single string with newlines)\nand creates a new Dataset, then attaches the file to it.\n\nAs elsewhere, there is a manual trigger attached to fire\nit, and the dataset contents are hardcoded.\nYou'll probably want to trigger it with some external\nautomation which then provides the file input.\n\nIt returns a Dataset ID as well as the full API response,\nwhich includes a URL that can be used when launching a pipeline.",
    "x": 300,
    "y": 260,
    "wires": []
  },
  {
    "id": "8f656afd1c473fa4",
    "type": "comment",
    "z": "5ddebd1124f2b1c0",
    "name": "Run and monitor a pipeline",
    "info": "The _Launch + Monitor_ node is a convenience node which packages\nup several functions. It combines the _Launch_ and _Monitor_\nnode functionality, as well as a timer which makes it easy\nto continue polling the running workflow for its status.\n\nIt has three outputs - one for each status ping,\none for when the pipeline finishes successfully, and one\nwhen it finishes with an error.\n\nHere we are using the same node twice, with two different\npipelines. This is a simple way to chain multiple workflows\nwithin Seqera Platform.",
    "x": 210,
    "y": 440,
    "wires": []
  }
]
