examples/launch_check.json
[
  {
    "id": "1edc5af797745943",
    "type": "tab",
    "label": "Separate launch + check",
    "disabled": false,
    "info": "# Separate launch + check Workflow\n\nThis example shows the separate 'Launch' and 'Check' nodes, which offer maximum customisability. There is a timer node to keep checking the status whilst the workflow is running.\n\n1. Configure the Seqera Platform connection with your API token\n2. Set the launchpad name and parameters\n3. Launch the workflow and monitor its execution",
    "env": []
  },
  {
    "id": "4d2c2cd9108b8d5e",
    "type": "seqera-workflow",
    "z": "1edc5af797745943",
    "name": "",
    "seqera": "",
    "workflowId": "workflowId",
    "workflowIdType": "msg",
    "workspaceId": "",
    "workspaceIdType": "str",
    "x": 540,
    "y": 180,
    "wires": [["9b5d569d96130e41", "5fd3ea8f47740718"], ["cacbafa4ef558814"]]
  },
  {
    "id": "cacbafa4ef558814",
    "type": "debug",
    "z": "1edc5af797745943",
    "name": "Finished",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 220,
    "wires": []
  },
  {
    "id": "9b5d569d96130e41",
    "type": "delay",
    "z": "1edc5af797745943",
    "name": "Check again",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 530,
    "y": 100,
    "wires": [["4d2c2cd9108b8d5e"]]
  },
  {
    "id": "a54852b97bd494e3",
    "type": "seqera-launch",
    "z": "1edc5af797745943",
    "name": "",
    "seqera": "",
    "launchpadName": "nf-core-fetchngs2",
    "launchpadNameType": "str",
    "paramsKey": "{\"outdir\":\"./results\",\"nf_core_pipeline\":\"rnaseq\"}",
    "paramsKeyType": "json",
    "workspaceId": "",
    "workspaceIdType": "str",
    "sourceWorkspaceId": "",
    "sourceWorkspaceIdType": "str",
    "x": 330,
    "y": 180,
    "wires": [["4d2c2cd9108b8d5e"]]
  },
  {
    "id": "591011a6c7f52ff9",
    "type": "inject",
    "z": "1edc5af797745943",
    "name": "Launch trigger",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 140,
    "y": 180,
    "wires": [["a54852b97bd494e3"]]
  },
  {
    "id": "5fd3ea8f47740718",
    "type": "debug",
    "z": "1edc5af797745943",
    "name": "Running Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 180,
    "wires": []
  }
]
