examples/slack_webhook.json
[
  {
    "id": "f9637ffe22fa2694",
    "type": "tab",
    "label": "Slack webhook",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "54f5fbdcf386ba1d",
    "type": "seqera-launch-monitor",
    "z": "f9637ffe22fa2694",
    "name": "",
    "seqera": "",
    "poll": "5",
    "pollType": "num",
    "launchpadName": "",
    "launchpadNameType": "str",
    "paramsKey": "{}",
    "paramsKeyType": "json",
    "workspaceId": "",
    "workspaceIdType": "str",
    "sourceWorkspaceId": "",
    "sourceWorkspaceIdType": "str",
    "x": 310,
    "y": 180,
    "wires": [[], ["e3575ccc5602bf6e"], ["e3575ccc5602bf6e"]]
  },
  {
    "id": "ce6bd1d3dab62c26",
    "type": "http request",
    "z": "f9637ffe22fa2694",
    "name": "Slack webhook",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "body",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 760,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "e26ea9ce80b2ea7a",
    "type": "inject",
    "z": "f9637ffe22fa2694",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 180,
    "wires": [["54f5fbdcf386ba1d"]]
  },
  {
    "id": "89960474d1cbb456",
    "type": "comment",
    "z": "f9637ffe22fa2694",
    "name": "Setup instructions for Slack webhook",
    "info": "To make the automated Slack message, first you need to create a Slack Workflow.\nSelelct _\"From a webhook\"_ as the trigger.\n\nThen configure with some input variables and a button, and copy the webhook URL.\n\nPaste the webhook URL into the node below, using a `POST` request.",
    "x": 830,
    "y": 140,
    "wires": []
  },
  {
    "id": "e3575ccc5602bf6e",
    "type": "change",
    "z": "f9637ffe22fa2694",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"msg\": \"Workflow \" & payload.workflow.projectName & \" (\" & payload.workflow.runName & \"): Status \" & payload.workflow.status,\t    \"button_text\":\"View workflow\",\t    \"button_link\": \"https://cloud.seqera.io/orgs/\" & payload.orgName & \"/workspaces/\" & payload.workspaceName & \"/watch/\" & payload.workflow.id\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 180,
    "wires": [["ce6bd1d3dab62c26"]]
  }
]
